<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>{{classroom?.nom_salle}}</h1>
      <div class="infos row">
        <p class="col-5">Capacité : {{ classroom?.capacite }}</p>
        <p class="col-5">Équipements : {{ classroom?.equipements }}</p>
      </div>
      <div class="infos row">
        <p class="col-5">Localisation : {{ classroom?.localisation }}</p>
        <p class="col-5" *ngIf="classroom?.libre == true">Libre</p>
        <p class="col-5" *ngIf="classroom?.libre == false">Occupée</p>
      </div>
      <input class="col-4" type="number" [(ngModel)]="this.dureeReservation" id="duree">
      <div class="row buttons">
        <div class="row gap">
          <button routerLink="/produit-commander" routerLinkActive="active" class="col-2">Retour</button>
        </div>
        <div class="row">
          <button routerLink="/connexion" *ngIf="!isLoggedIn()" class="col-5 ajout">Connectez-vous pour réserver une salle</button>
          <button routerLinkActive="active" class="col-3" *ngIf="isLoggedIn()" (click)="claimClassroom(classroom)">Réserver</button>
        </div>
      </div>
    </div>
  </div>
</div>
