<div class="container">
  <h1>Salles</h1>
  <div class="row filters">
    <div class="col-12">
      <div class="row">
        <button routerLink="/produit" routerLinkActive="active" class="col-2 ajout">Ajouter une classe</button>
        <input type="text" id="filtreRecherche" class="col-1 test" [(ngModel)]="this.filtreRecherche" (ngModelChange)="filtrerClassrooms()">
        <label for="filtreLocalisation" class="col-2">Localisation :</label>
        <select id="filtreLocalisation" class="col-2" [(ngModel)]="this.filtreLocalisation" (ngModelChange)="filtrerClassrooms()">
          <option value="">Tous les étages</option>
          <option value="1">Rez-de-chaussée</option>
          <option value="2">1er étage</option>
          <option value="3">2ème étage</option>
        </select>
        <label for="filtreLibre" class="col-1">Libre :</label>
        <select id="filtreLibre" class="col-1" [(ngModel)]="this.filtreLibre" (ngModelChange)="filtrerClassrooms()">
          <option value="">Tous</option>
          <option value="true">Libre</option>
          <option value="false">Pas libre</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let classroom of classrooms" class="col-3 {{ classroom.libre }}">
      <h2>{{ classroom.nom_salle }}</h2>
      <div class="infos row">
        <p class="col-5">Id : {{ classroom.id_salle }}</p>
        <p class="col-5">Capacité : {{ classroom.capacite }}</p>
      </div>
      <div class="infos row">
        <p class="col-5">Equipements : {{ classroom.equipements }}</p>
        <p class="col-5">Localisation : {{ classroom.localisation }}</p>
      </div>
      <div class="buttons row">
        <button (click)="supprimerProduit(classroom.id_salle)" class="col-4">Supprimer</button>
        <button (click)="modifierProduit(classroom.id_salle)" class="col-4">Modifier</button>
      </div>
    </div>
  </div>
</div>
