<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <a class="col-1" routerLink="/" [routerLinkActive]="['active']" [class.active]="isHomePage()">Accueil</a>
          <a class="col-1" routerLink="/produit-list" routerLinkActive="active" *ngIf="isAdmin()">Stock</a>
          <a class="col-1" routerLink="/produit-commander" routerLinkActive="active">Commander</a>
          <a class="col-1" routerLink="/fournisseur-list" routerLinkActive="active" *ngIf="isAdmin()">Fournisseur</a>
          <a class="col-1" routerLink="/panier" routerLinkActive="active" >Panier</a>
          <a class="col-1" routerLink="/commandes" routerLinkActive="active"*ngIf="isAdmin()">Commandes</a>
          <a class="col-1" [routerLink]="isLoggedIn() ? '/profil' : '/connexion'" routerLinkActive="active">{{ isLoggedIn() ? 'Profil' : 'Connexion' }}</a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
