<div class="container">
  <h1>Commandes</h1>
  <div class="row">
    <div class="col-12 filters">
      <input type="text" [(ngModel)]="rechercheSalle" (input)="filtrerCommandes()" placeholder="Rechercher une salle" class="col-2">
      <input type="text" [(ngModel)]="rechercheUser" (input)="filtrerCommandes()" placeholder="Rechercher un utilisateur" class="col-2">
      <select class="col-2" [(ngModel)]="this.rechercheEtage" (ngModelChange)="filtrerCommandes()">
        <option value="">Tous les étages</option>
        <option value="1">Rez-de-chaussée</option>
        <option value="2">1er étage</option>
        <option value="3">2ème étage</option>
      </select>
    </div>
  </div>
  <div *ngFor="let reservation of this.commandeList" class="row">
    <div class="col-8 cont-commande">
      <div class="col-12">
        <div class="col-12">
          <strong>Nom:</strong> {{ reservation.nom_salle }}
        </div>
        <div class="col-12">
          <strong>Capacite:</strong> {{ reservation.capacite }} personnes
        </div>
        <div class="col-12">
          <strong>Équipements:</strong> {{ reservation.equipements }}
        </div>
        <div class="col-12">
          <strong>Localisation:</strong> {{ reservation.localisation }}
        </div>
        <div class="col-12">
          <strong>Duree:</strong> {{ reservation.duree }} minutes
        </div>
        <div class="col-12">
          <strong>Réservé par:</strong> {{ reservation.username }}
        </div>
        <button (click)="deleteCommandes(reservation.id_reservation)" class="col-2">Supprimer</button>
      </div>
    </div>
</div>


