<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>Créer une salle</h1>
      <form [formGroup]="classroomForm" (ngSubmit)="ajouterSalle()">

        <div class="row">
          <label for="nom_salle" class="col-4">Salle :</label>
          <input type="text" id="nom_salle" formControlName="nom_salle" class="col-6">
        </div>

        <div class="row">
          <label for="capacite" class="col-4">Capacité :</label>
          <input type="number" id="capacite" formControlName="capacite" class="col-6">
        </div>

        <div class="row">
          <label for="equipements" class="col-4">Équipements :</label>
          <select id="equipements" formControlName="equipements" class="col-6">
            <option value=""></option>
            <option value="aucun">Aucun</option>
            <option value="Vidéo projecteur">Vidéo projecteur</option>
            <option value="Tableau connecté">Tableau connecté</option>
          </select>
        </div>

        <div class="row">
          <label for="localisation" class="col-4">Localisation :</label>
          <select id="localisation" formControlName="localisation" class="col-6">
            <option value=""></option>
            <option value="1">Rez-de-chaussée</option>
            <option value="2">1er étage</option>
            <option value="3">2ème étage</option>
          </select>
        </div>

        <div class="buttons row">
          <div class="col-4">
            <button routerLink="/produit-list" routerLinkActive="active" class="col-12">Retour</button>
          </div>
          <div class="col-4">
            <button type="submit" class="col-12">Créer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
